.text {
    text-align: center;
    top: 30%;
    left: 35%;
}

.c-text {
    color: white;
    font-weight: 700;
    font-size: 2rem;
}
.c-img-wrap {
    height: 530px;
    overflow: hidden;
}
.c-img-wrap > img {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
@media (min-width:993px) {
    .carousel-custom {
        overflow: hidden;
        width: 100%;
    }
}

@media (max-width: 992px) {
    .carousel-custom {
        overflow: hidden;
        height: 400px;
        width: auto !important;
    }
}